:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
    font-family: 'proxima';
    src: url('/fonts/proxima_vara-vf.woff2') format('woff2-variations');
    font-weight: 550 850;
    font-stretch: 75% 125%;
}
