:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
    font-family: 'proxima';
    src: url('/fonts/proxima_nova-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima';
    src: url('/fonts/proxima_nova_italic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'proxima';
    src: url('/fonts/proxima_nova_bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'proxima';
    src: url('/fonts/proxima_nova_bold_italic-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
